<!-- MODAL START -->
<div class="modal fade" id="change_password_modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modal-label">Change Your Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <form id="change_password_form">
                        <div class="form-group required row">
                            <label class="col-sm-3 col-form-label" for="cp_password">New Password:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="cp_password" name="cp_password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group required row">
                            <label class="col-sm-3 col-form-label" for="cp_confirm_password">Confirm Password:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="cp_confirm_password" name="cp_confirm_password" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 offset-sm-3">
                                <button type="submit" class="btn btn-primary" id="cp_submit"><i id="cp_spinner" class="fa fa-save"></i>&nbsp;Change</button>
                                <button type="reset" class="btn btn-secondary" id="cp_reset"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>

        </div>

    </div>
</div>
<!-- MODAL END -->