<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div class="m-5 text-center" th:with="appInfo = ${session.APP_INFO}">
        <a th:href="@{/app/index.html}" class="btn btn-success btn-md mr-auto">
            <i class="fa fa-home"></i>&nbsp;Return Home
        </a>
        <a th:href="'mailto:' + ${appInfo.getEmailAddress()}" target="_blank" class="btn btn-danger btn-md mr-auto">
            <i class="fa fa-envelope"></i>&nbsp;Email Support
        </a>
        <a th:href="${appInfo.getFacebook()}" target="_blank" class="btn btn-primary btn-md mr-auto">
            <i class="fa fa-facebook"></i>&nbsp;Facebook Support
        </a>
    </div>

</html>