<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

        <h1>Forgot Your Pasword</h1>

        <p th:text="'Hi, ' + ${firstName} + ' ' + ${lastName}"></p>

        <p>We received an offer to reset your password!</p>

        <p>This is your new password: <a style="color: #FF0000"><th:block th:text="${password}"/></a></p>

        <p>Please login and change your password</p>

        <p style="color: red; font-size: 20px; font-style: italic;">Best & Regard!</p>

    </body>

</html>