<!-- MODAL -->
<div class="modal fade" id="register_account_modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- MODAL HEADER -->
            <div class="modal-header">
                <h1 class="modal-title" id="modal-label">Register account</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- MODAL BODY -->
            <div class="modal-body">
                <div class="container">
                    <form id="register_account_form">
                        <div class="form-group required row">
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 col-form-label" for="ra_app_username">Username:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ra_app_username" name="ra_app_username" placeholder="Username">
                                </div>
                            </div>
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 col-form-label" for="ra_email_address">Email Address:</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="ra_email_address" name="ra_email_address" placeholder="Email Address">
                                </div>
                            </div>
                        </div>
                        <div class="form-group required row">
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 col-form-label" for="ra_password">Password:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="ra_password" name="ra_password" placeholder="Password" autocomplete="new-password">
                                </div>
                            </div>
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 col-form-label" for="ra_confirm_password">Confirm Password:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="ra_confirm_password" name="ra_confirm_password" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group required row">
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 col-form-label" for="ra_first_name">First Name:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ra_first_name" name="ra_first_name" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 col-form-label" for="ra_last_name">Last Name:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ra_last_name" name="ra_last_name" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group required row">
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 col-form-label">Gender:</label>
                                <div class="col-sm-9">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input checked="checked" type="radio" class="custom-control-input" id="male" name="ra_gender" value="true">
                                        <label class="custom-control-label" for="male">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="female" name="ra_gender" value="false">
                                        <label class="custom-control-label" for="female">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 col-form-label" for="ra_date_of_birth">Date of Birth:</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="ra_date_of_birth" name="ra_date_of_birth" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group required row">
                            <div class="col-sm-6 row">
                                <label class="col-sm-3 col-form-label" for="ra_phone_number">Phone Number:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ra_phone_number" name="ra_phone_number" placeholder="Phone Number">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-1 col-form-label" style="max-width:12.499999995%; flex-basis:12.499999995%;" for="ra_address">Address:</label>
                            <div class="col-sm-10">
                                <textarea rows="3" class="form-control" id="ra_address" name="ra_address" placeholder="Address"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label class="form-check-label">
                                    <input type="checkbox" id="ra_read_and_agree" name="ra_read_and_agree">
                                    <label for="ra_read_and_agree" class="col-form-label">&nbsp;I have read understand and agree to the terms of service</label>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary disabled" id="ra_submit" disabled>Submit</button>
                                <button type="reset" class="btn btn-secondary" id="ra_reset">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- MODAL FOOTER -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>

</div>