<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

    <head>
        <title>Error 500</title>
        <th:block th:insert="~{/fragment/head.html::head}"></th:block>
    </head>

    <body>

        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-5 ml-5 text-center">
                            <h1 class="text-danger">&nbsp;Oops! Sorry...</h1>
                            <h2 class="text-warning">Oops! You are stuck at 500</h2>
                            <div>
                                <p>Something's wrong!</p>
                                <p>It looks as though we've broken something on our system.</p>
                                <p>Don't panic, we are fixing it! Please come back in a while.</p>
                            </div>
                            <th:block th:replace="/fragment/support.html"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>